input[type="number"] {
  width: 3em;
}

body {
        
	background-color: #3a3d44;
	background-image: url("images/farm.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
	background-size: cover;
	color: black;
    }

    #center {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: 80%;
    }