input[type="number"] {
  width: 3em;
}

body {
	background-color: black;
    background-image: url("images/farm.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	text-align: center;
	background-size: cover;
	color: white;
}

.nav-bar {
    color: white;
    position: absolute;
    left: 0px;
    top:0px;
    font-family: "Gill Sans";
    height: 100%;
    width: 4%;
    background-color: #3c3e47;
}

.nav-bar-active {
    background-color: #636672;
}
.nav-bar p {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.nav-bar p:hover {
    background-color: #636672;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.inputForm {
    background-color: #3c3e47;
    text-align: center;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
}

.inputForm input {
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.inputForm input[type=text] {
    color: #3c3e47;
}

.inputForm input[type=submit] {
    background-color: white;
    margin-top: 0px;
    width: 100px;
    padding: 5px;
}

.inputForm input[type=submit]:hover {
    background-color: #cccccc;
    color: #3c3e47;
}