.row{
	clear:both;
}
.col{
	float:left;
}
.element{
/*	border: 1px gray solid;
*/	height:20px;
	width:20px;
	font-size:7px;
		display: inline-block;
/*	justify-content: center;
	align-items: center;*/
}

.elementTab{
	/*	border: 1px gray solid;
    */	height:30px;
	width:30px;
	font-size:7px;
	display: inline-block;
	/*	justify-content: center;
        align-items: center;*/
}

.selected{
/*	border: 1px black solid !important;*/
}

.forest_space{
	background-color: #0b7445;
	color:white;
}
.water_space{
	background-color: blue;
	color:white;
}
.dessert_space{
	background-color: yellow;
	color:black;
}
.sabana_space{
	background-color: #17e88a;
	color:black;
}
.white_space{
	background-color: red;
	color: red;
}
.black_space{
	background-color: black;
	color:black;
}
.friend_space{
	background-color: purple;
	color:black;
}

#map_viewer{
	cursor :pointer;
	position: absolute;
	left: 53%;
	top: 60%;
	transform: translate(-53%, -60%);
}

#mapContainer{
	/*background-color: #93785f;*/
	background-image: url("images/nobarnbackground.png");
	background-size: 100% 100%;
	height: 100%;
	margin-top: 0;
}

#mapContainer p {
	margin: 0px;
}

#map_table {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor :pointer;
}

.maplegend {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #3c3e47;
	padding: 10px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -0%);
}

#redsquare {
	height: 40px;
	width: 40px;
	background-color: red;
	color: white;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
}

#blacksquare {
	height: 40px;
	width: 40px;
	background-color: black;
 	color: white;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
 }

#bluesquare {
	height: 40px;
	width: 40px;
	background-color: blue;
	color: white;
	margin-right: auto;
	border-radius: 5px;
	margin-left: auto;
}
#yellowsquare {
	height: 40px;
	width: 40px;
	background-color: yellow;
	color: white;
	margin-right: auto;
	border-radius: 5px;
	margin-left: auto;
}
#lightgreensquare {
	height: 40px;
	width: 40px;
	background-color: lightgreen;
	color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;

}
#darkgreensquare {
	height: 40px;
	width: 40px;
	background-color: #0b7445;
	color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}
#purplesquare {
	height: 40px;
	width: 40px;
	background-color: purple;
	color: white;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}
.maplegendtable {
	text-align: center;
}

.maplegendtable th {
	width: 100px;
	height: 20px;
}

.maplegendtablecreate {
	text-align: center;
}

.maplegendtablecreate th {
	width: 100px;
	height: 50px;
	background-color: pink;
}

.maplegendcreate {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #3c3e47;
	padding: 10px;
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translate(-50%, -0%);
}

.newusercontainer {
	width: 50%;
	background-color: #3c3e47;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	padding-bottom: 10px;
}

.newusercontainer button {
	border-radius: 5px;
	border: none;
	background-color: white;
	padding:10px;
	color: #3c3e47;
}

.newusercontainer button:hover {
	background-color: #cccccc;
}
#message_for_clicking_on_map{
	color: white;
	text-align: center;
}

#map_message_container {
	background-color: #3c3e47;
	position: absolute;
	left: 52%;
	bottom: 0%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	transform: translate(-52%, 0%);
}