.row{
	clear:both;
}
.col{
	float:left;
}
.element{
/*	border: 1px gray solid;
*/	height:20px;
	width:20px;
	font-size:7px;
		display: inline-block;
/*	justify-content: center;
	align-items: center;*/
}
.selected{
/*	border: 1px black solid !important;*/
}

.forest_space{
	background-color: #0b7445;
	color:white;
}
.water_space{
	background-color: blue;
	color:white;
}
.dessert_space{
	background-color: yellow;
	color:black;
}
.sabana_space{
	background-color: #17e88a;
	color:black;
}
.white_space{
	background-color: white;
	color: white;
}
.black_space{
	background-color: black;
	color:black;
}

#map_table{
	position: absolute;
	/*This is what is causing it to be like this.*/
	right: 400px;
	bottom: 100px;
	text-align: center;
}
#map_viewer{
	position: absolute;
	/*This is what is causing it to be like this.*/
	right: 600px;
	bottom: 200px;
	text-align: center;
}